[package]
name = "amalgam"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
winit = "0.30"
vulkan_raw = { path = "vulkan_raw" }
prost = "0.14.3"
lz4_flex = "0.12"
ultraviolet = { version = "0.10", features = [ "f64", "int", "bytemuck", "num-traits" ] }
sonic-rs = "0.5"
serde = "1.0"
image = "0.25"
bytemuck = "1.23"
rand = "0.9.2"
smallvec = "1.15.1"
shaders = { path = "shaders" }

[build-dependencies]
prost-build = "0.14"

[target.'cfg(target_os = "android")'.dependencies]
winit = { version = "0.30", features = ["android-native-activity"] }
android-activity = { version = "0.6", features = ["native-activity"] }
