[package]
name = "common"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true

[dependencies]
spirv-std = { git = "https://github.com/Rust-GPU/rust-gpu" }
cfg-if = "1.0.4"
bytemuck = "1.24.0"